@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #ffffff;
    --accent-1: #ff4c00;
    --accent-2: #00e4f0;
    --neutral: #b0b0b0;

    --header-height: 115px;
}

@theme {
    --background-image-gradient-1: linear-gradient(246.99deg, var(--accent-1) 3.34%, rgba(0, 0, 0, 0) 75.22%);
    --background-image-gradient-2: linear-gradient(246.99deg, var(--accent-2) 3.34%, rgba(0, 0, 0, 0) 75.22%);
    --background-image-gradient-3: linear-gradient(
        252.6deg,
        var(--accent-1) 20.57%,
        #b38bce 60.25%,
        var(--accent-2) 86.93%
    );
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-grato-grotesk), Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-wrap: balance;
    line-height: 1.3;
}

p,
li,
a,
span,
label {
    line-height: 1.3;
}

button {
    font-weight: 500;
    cursor: pointer;
}

li::marker {
    margin-right: -10px;
}

.animate-marquee {
    animation: marquee 20s linear infinite;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1680px);
    }
}
